:host {
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: #777;
  font-weight: 200;
}

a:before {
  content: "▸";
  padding-right: 0.5em;
  color: #ccc;
  font-weight: 200;
}

a:hover,
a:hover:before {
  text-decoration: none;
  color: blue;
}
