html, body, article {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

#abstract {
  padding: 1em 0;
}

#metrics h2 {
  display: none;
}

#references {
  padding-bottom: 2rem;
}

#figures {
  background-color: white;
}

.altmetric-embed > div:first-child {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.altmetric-embed p {
  display: none;
}
