<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>article-metrics demo</title>
    <script src="../webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="article-metrics.html">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <style>
      font-family: Helvetica, sans-serif;
      background: #f6f6f6;
    </style>
  </head>
  <body unresolved>
    <article-metrics doi="10.7717/peerj.182" url="https://peerj.com/articles/182/"></article-metrics>
  </body>
</html>
