<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>version-history demo</title>
    <script src="../webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="version-history.html">
    <style>body { font-family: Helvetica, sans-serif }</style>
  </head>
  <body unresolved>
    <version-history github="twbs/bootstrap" url="http://getbootstrap.com/"></version-history>
  </body>
</html>
