<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="article-icons.html">

<!--
Element providing sharing tools relating to an article.

##### Example

  <article>
    <article-share url="http://example.com/"></article-share>
  </article>

@element article-share
@blurb Element providing sharing tools related to an article.
@status alpha
@homepage https://github.com/peerj/article-tools
-->
<polymer-element name="article-share" attributes="url github">
  <template>
    <link rel="stylesheet" href="article-tools.css">

    <div layout horizontal end-justified class="article-tools article-tools-share"
      on-mouseleave="{{ hide }}">
      <a class="article-tool" hidden?="{{ !visible }}" target="_blank"
        title="Email this article"
        href="{{ emailURL }}"><core-icon icon="article:email"></core-icon></a>

      <a class="article-tool" hidden?="{{ !visible }}" target="_blank"
        title="Share this article on Twitter"
        href="{{ twitterURL }}"><core-icon icon="article:post-twitter"></core-icon></a>

      <a class="article-tool" hidden?="{{ !visible }}" target="_blank"
        title="Share this article on Facebook"
        href="{{ facebookURL }}"><core-icon icon="article:post-facebook"></core-icon></a>

      <a class="article-tool" hidden?="{{ !visible }}" target="_blank"
        title="Share this article on Google+"
        href="{{ googlePlusURL }}"><core-icon icon="article:post-gplus"></core-icon></a>

      <template if="{{ github }}">
        <a class="article-tool" hidden?="{{ !visible }}" target="_blank"
          title="Fork this article on GitHub"
          href="https://github.com/{{ github }}"><core-icon icon="article:post-github"></core-icon></a>
      </template>

      <span class="article-tool article-tool-control"
        title="Share this article"
        on-mouseover="{{ show }}"
        on-tap="{{ toggleVisibility }}"><core-icon icon="article:share"></core-icon></span>
    </div>
  </template>
  <script>
    Polymer({
      visible: false,
      toggleVisibility: function() {
        this.visible = !this.visible;
      },
      show: function() {
        this.visible = true;
      },
      hide: function() {
        this.visible = false;
      },
      urlChanged: function() {
        this.twitterURL = 'https://twitter.com/intent/tweet?' + $.param({
          url: this.url
        });

        this.googlePlusURL = 'https://plus.google.com/share?' + $.param({
          url: this.url
        });

        this.facebookURL = 'https://www.facebook.com/dialog/share?' + $.param({
          redirect_uri: 'https://peerj.github.io/article-tools/close.html',
          app_id: '374861959379602',
          display: 'popup',
          href: this.url,
        });

        // TODO: subject line, title and content?
        this.emailURL = 'mailto:?' + $.param({
          body: this.url
        });
      }
    });
  </script>
</polymer-element>
