<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>article-tools demo</title>
    <script src="../webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="article-tools.html">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <style>body { font-family: Helvetica, sans-serif; }</style>
  </head>
  <body unresolved>
    <article>
      <article-tools url="http://example.com/" github="peerj/paper-now"></article-tools>
    </article>
  </body>
</html>
